# Core
fastapi==0.115.5
uvicorn==0.29.0
python-multipart==0.0.9

# Audio y procesamiento
demucs==4.0.1
torch==2.1.2
torchaudio==2.1.2
librosa==0.10.1
soundfile==0.12.1
scipy==1.11.3
numpy==1.26.0
pydub==0.25.1

# Utilidades
requests==2.31.0
tqdm==4.66.1